{% extends 'member/sing.html' %} <!-- base.html파일에서 확장(상속)시켜주기 -->
{% load static %}
{% block title %}회사제품{% endblock %}
{% block menu %}
    <a href="sing">회사소개</span> |</a>
    <a href="sing1"><span style="background-color:yellow">회사제품 |</a>
    <a href="sing2">오시는길 |</a>
    <a href="sing3">문의게시판</a>
{% endblock %}
<img {% block img %} src="{% static 'member/images/product.jpg' %}" {% endblock %}>
{% block text %}
<ul>
    <li>후코이단 레드</li>
    <li>후코이단 그린</li>
    <li>후코이단 블루</li>
</ul>
{% endblock %}