{% extends 'member/sing.html' %} <!-- base.html파일에서 확장(상속)시켜주기 -->
{% load static %}
{% block script %}
    <script type="text/javascript">
        $(function() {
            $("#list").click(function() {
                location.href = "/member/sing3";
            });
        });
    </script>
{% endblock %}
{% block title %}오시는길{% endblock %}
{% block menu %}
    <a href="sing">회사소개</span> |</a>
    <a href="sing1">회사제품 |</a>
    <a href="sing2">오시는길 |</a>
    <a href="sing3"><span style="background-color:yellow">문의게시판</a>
{% endblock %}
<img {% block img %} src="{% static 'member/images/0.png' %}" {% endblock %}>
{% block text %}
<div class="container">
<table class="table table-striped" width="100%">
    <tr>
        <td>제목</td><td>{{post.title}}</td>
    </tr>
    <tr>
        <td>작성자</td><td>{{post.name}}</td>
    </tr>
    <tr>
        <td>작성일시</td><td>{{write_time}}</td>
    </tr>
    <tr>
        <td colspan="2">{{post.content}}</td>
    </tr>
</table>
<table width="100%">
<tr>
    <td align="center">
        <button class="btn btn-success" id="list">목록</button>
    </td>
</tr>
</table>
</div>
{% endblock %}
