{% extends 'member/sing.html' %} <!-- base.html파일에서 확장(상속)시켜주기 -->
{% load static %}
{% block script %}
    <script type="text/javascript">
        $(function() {
            $("#write").click(function() {
                location.href = "/member/sing4";
            });
        });
    </script>
{% endblock %}
{% block title %}오시는길{% endblock %}
{% block menu %}
    <a href="sing">회사소개</span> |</a>
    <a href="sing1">회사제품 |</a>
    <a href="sing2">오시는길 |</a>
    <a href="sing3"><span style="background-color:yellow">문의게시판</a>
{% endblock %}
<img {% block img %} src="{% static 'member/images/0.png' %}" {% endblock %}>
{% block text %}
<div class="container">
<table class="table table-striped" id="board">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성시간</th>
        <th>조회수</th>
    </tr>
    {% for x in board_result %}
    <tr>
        <td>{{x.id}}</td>
        <td><a href="sing6/{{x.id}}" class="title_href">{{x.title}}</a></td>
        <td>{{x.name}}</td>
        <td>{{x.write_time}}</td>
        <td>{{x.view_count}}</td>
    </tr>
    {% endfor %}
</table>
<table width="100%">
<tr>
    <td align="right">
        <button class="btn btn-primary" id="write">글쓰기</button>
    </td>
</tr>
</table>
</div>
{% endblock %}
