{% extends 'base.html' %}

{% block title %} 전체 리스트 페이지 {% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a href="/" class="list-group-item {% if not current_category %}active{% endif %}">All</a> <!-- 카테고리 선택되지 않은 경우 All이 활성화 -->
            {% for c in categories %}
                <a href="{{c.get_absolute_url}}" class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}">{{c.name}}</a> <!-- 선택된 카테고리가 활성화 -->
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <div class="alert alert-info" role="alert">
            {% if current_category %}{{current_category.name}}{% else %}All Products{% endif %}
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}} <span class="badge badge-secondary">{{product.price}}원</span> </p>
                            <a href="{{product.get_absolute_url}}" class="btn btn-sm btn-primary">자세히 보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}