{% extends 'base.html' %}
{% block title %} - List {% endblock %}
{% block menu1 %}white{% endblock %}
{% block menu2 %}info{% endblock %}
{% block content %}
{% for post in photos %}
<br>
<div class="row">
    <div class="col-md-2"><br></div>
    <div class="col-md-8 panel panel-default jumbotron">
        <p><img src="{{post.photo.url}}" style="width:100%;"></p> <!-- 사진 표시 -->
        <button type="button" class="btn btn-xs btn-outline-info disabled">
            {{post.author.username}}
        </button><br><br>
        <p>{{post.text|linebreaksbr}}</p> <!-- 사진에 첨부된 글 표시 -->
        <p class="text-right">
            <a href="{% url 'photo:photo_detail' pk=post.id %}"
            class="btn btn-xs btn-success">댓글달기</a>
        </p>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}