<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품상세설명</title>
</head>
<body bgcolor="yellow">
<h2>상품상세설명 페이지입니다.</h2>
<div width="500">
    <TABLE border="1" width="500">
        <tr>
            <td>사양</td>
            <td>설명</td>
        </tr>
        <tr>
            <td>모델명</td>
            <td>YAMAHA MONTAGE8</td>
        </tr>
        <tr>
            <td>건반수</td>
            <td>88</td>
        </tr>
        <tr>
            <td>동시발음</td>
            <td>64화음</td>
        </tr>
        <tr>
            <td>종류</td>
            <td>신디사이저</td>
        </tr>
        <tr>
            <td>가격</td>
            <td>4,493,450원</td>
        </tr>


    </TABLE>

</div>
</body>
</html>