<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div width="500">
<form action="" method="post">
    {% csrf_token %}
    <h2>{{object.name}}님의 정보를 삭제하시겠습니까?</h2>
    <table width="500" border="1" bordercolor="red">
        <tr align="center">
            <th width="100" bgcolor="yellow">번호</th>
            <th width="100" bgcolor="yellow">이름</th>
            <th width="100" bgcolor="yellow">연락처</th>
            <th width="200" bgcolor="yellow">주소</th>
        </tr>
        <tr align="center">
            <td>{{object.id}}</td>
            <td>{{object.name}}</td>
            <td>{{object.tel}}</td>
            <td>{{object.addr}}</td>
        </tr>
    </table>
    <table width="500">
        <tr align="right">
            <td>
                <input type="submit" value="삭제">
            </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>